# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# OS Files
.DS_Store

# IDEs
.vscode/
.claude/

# Testing
.pytest_cache/
test/vcr_cassettes/
test.ipynb

# Project Specific
screen/
storage/
temp_uploads/
.temp_uploads/
docx/